body {
    background-image: url(https://i.pinimg.com/736x/d5/2d/59/d52d59fce43176970eadb5b9b49acccb.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}